.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-grow: 1;
	padding: 8px;
	background: white;
	position: fixed;
	right: 0;
	left: 0;
	top: 0;
}

.navbar a {
	font-family: 'Merriweather', serif;
	font-weight: 400;
	text-decoration: none;
	color: #102845;
	font-size: 24px;
	margin-right: 30px;
}

.navbar a:hover {
	background: #F9BF18;
	color: black;
	transition: 0.5s;
	text-decoration: none;
	border-radius: 6px;
}

.navbar img {
	width: 70px;
	height: 70px;
	margin-left: 30px;
}
